body{
   background-color: rgb(240, 222, 160);
   margin: 20px ;
}

 h1{
    font-family:'Capriola', sans-serif;
    font-size: 64px;
    color:rgb(29, 88, 214);
    text-align: center;
 }

 h2{
   font-family:'Capriola', sans-serif;
    font-size: 25px;
    color:rgb(29, 88, 214);
    text-align: center;

 }

 h4{
    font-family:'Capriola', sans-serif;
    font-size: 20px;
    color:rgb(29, 88, 214);
    text-align: center;

 }


 section{
   
    font-size: 15px;
    font-family:'Itim', cursive;
    color:rgb(29, 88, 214);
    align-items: space-evenly;
    
 }

.ilust{
    width: 200px;
    height: auto;
    border-radius: 30cm;
    align-content:space-between;

}

footer{
   background-color: rgb(151, 177, 226);
   border: rgb(220, 228, 245) 3px dotted;
   font-family:'Capriola', sans-serif;
   font-size: 13px;
   color:rgb(29, 88, 214);
   text-align: center;
}

header {
   align-self: center;
   background-color: rgb(151, 177, 226);
   border: rgb(220, 228, 245) 3px dotted;
   font-family:'Capriola', sans-serif;
   font-size: 15px;
   color:rgb(29, 88, 214);
}

a{
   align-self: right;
}
 
.logo{
   align-self: center;
}

