body{
   background-color: rgb(240, 222, 160);
   margin: 8px;
   align-content: center;
   border: 5px rgb(29, 88, 214) dotted;
   padding: 5%;
}

 h1{
    font-family:'Capriola', sans-serif;
    font-size: 64px;
    color:rgb(29, 88, 214);
    text-align: center;
 }

 h2{
   font-family:'Capriola', sans-serif;
    font-size: 25px;
    color:rgb(29, 88, 214);
    text-align: center;

 }

 h4{
    font-family:'Capriola', sans-serif;
    font-size: 20px;
    color:rgb(29, 88, 214);
    text-align: center;

 }


 section{
   
   width:auto;
   height: auto;
    font-size: 15px;
    font-family:'Itim', cursive;
    color:rgb(29, 88, 214);
    display: flex;
   justify-content: center;
   background-color: rgb(122, 161, 247);
   border: rgb(220, 228, 245) 3px dotted;
   border-radius: 12cm;


   article {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 12px;
  }
    
 }



.ilust{
    height: 250px;
    width: 250px;
    border-style: dotted;
    border-width: 6px ;
    border-radius: 360cm;
    border-color:rgb(29, 88, 214);

}

footer{
   background-color:rgb(122, 161, 247);
   border: rgb(220, 228, 245) 3px dotted;
   font-family:'Capriola', sans-serif;
   font-size: 16px;
   color:rgb(29, 88, 214);
   text-align: center;
   border-radius: 12cm;
}

header {
   background-color:rgb(122, 161, 247);
   border: rgb(220, 228, 245) 3px dotted;
   border-radius: 360cm;
   font-family:'Capriola', sans-serif;
   font-size: 30px;
   color:rgb(29, 88, 214);
   text-align: center;
   } 

logo{
   size: 824cm x 244cm;
   align-self: center;
}

